<section id="comment-section">
   {% for comment in comments %}
   <div class='card'>
      <div class='card-block '>
         <p class='comment-title'>{{ comment.created_by }} say:</p>
         <p class='card-text comment'>{{ comment.comment }}</p>
         {% if session.user == comment.created_by %}
         <a href="{{ url_for('delete_comment', comment_id=comment._id, book_id=book._id) }}" class="delete">Delete comment</a>
         {% endif %} 
      </div>
   </div>
   {% else %}
   <br>
   <p id="no-comments">No comments yet. Be the first to comment!</p>
</section>
{% endfor %}