<!-- Footer -->
<footer class="page-footer">
   <div class="container">
      <div class="row">
         <div class="col l6 s12">
            <h5 class="white-text">Bookmania</h5>
            <p class="grey-text text-lighten-4">Welcome to Bookmania! An online community for book lovers</p>
         </div>
         <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Navigation</h5>
            <ul >
               <li><a class="white-text" href="{{ url_for('index') }}">Home</a></li>
               {% if session.user %}
               <li><a class="white-text" href="{{ url_for('listing') }}">All Reviews</a></li>
               <li><a class="white-text" href="{{ url_for('add_book') }}">Add Book</a></li>
               <li><a class="white-text" href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
               <li><a class="white-text" href="{{ url_for('logout') }}">Log Out</a></li>
               {% else %}
               <li><a class="white-text" href="{{ url_for('login') }}">Log In</a></li>
               <li><a class="white-text" href="{{ url_for('register') }}">Register</a></li>
               {% endif %}
            </ul>
         </div>
      </div>
   </div>
   <div class="footer-copyright">
      <div class="container">
         © 2020 Created by Christian Garofoli
         <a class="white-text" href="https://github.com/chris92vr/book-mania"><i class="fab fa-github right" title="book-mania" aria-hidden="true"></i></a>
      </div>
   </div>
</footer>
<!-- End Footer -->

