{% extends 'base.html' %}
{% block content %}
<section class="container book-container">
   <div class="row ">
      <div class="row col s12 ">
         <h3 class="col s12">{{ book.book_name }}</h3>
      </div>
      <div class="row">
         <div class="col m7 book-image-box">
            {% if book.cover_image_url %}
            <img class="book-image" src="{{ book.cover_image_url }}" alt="{{ book.book_name }}">                        {% else %}
            <img class="book-image" src="{{ url_for('static', filename='images/no-image.png') }}"
               class="img-fluid" alt="Book Image">
            {% endif %}
             <a class="btn halfway-fab blue" target="_blank" href="https://www.amazon.com/s?k={{ book.book_name }}+{{ book.book_author }}+book&ref=nb_sb_noss_1">buy<i  class="material-icons">add_shopping_cart</i></a>&nbsp;&nbsp;&nbsp;
                     {% if session.user == book.created_by %}
                    <a class="btn  waves-effect waves-light yellow" href="{{ url_for('edit_book', book_id=book._id) }}">Edit<i  class="material-icons">edit</i></a>&nbsp;&nbsp;&nbsp;
                    <a class="btn  waves-effect waves-light red modal-trigger" href="#delete_book">Delete<i  class="material-icons">delete</i></a>
                     <div id="delete_book" class="modal">
                        <div class="modal-content">
                           <h4>Delete book </h4>
                           <p>{{ session.user }}, are you sure to would delete {{ book.book_name }} from our book collection?</p>
                        </div>
                        <div class="modal-footer">
                           <a href="#!" class="modal-close waves-effect waves-green btn-flat">exit</a>
                           <a href="{{ url_for('delete_book', book_id=book._id) }}" class="modal-close waves-effect waves-green btn-flat">Delete</a>
                        </div>
                     </div>
                     {% endif %} 
         </div>
         <div class="col m5">
            <div class="col s12">
               <div class="row col s12 ">
                  <ul>
                     <li class="content-between">
                        <p class="information ">Information:</p>
                     </li>
                     <li class="content-between">
                        <p class="information-content"><b>Author:</b> {{ book.book_author }}</p>
                     </li>
                     <li class="d-flex justify-content-between">
                        <p class="information-content"><b>Publisher:</b>  {{ book.book_publisher }}</p>
                     </li>
                     <li class="d-flex justify-content-between">
                        <p class="information-content"><b>Category:</b>  {{ book.category_name }}</p>
                     </li>
                     <li class="d-flex justify-content-between">
                        <p class="information-content"><b>Number of Pages:</b> {{ book.number_pages }}</p>
                     </li>
                     <li class="d-flex justify-content-between">
                        <p class="information-content"><b>Valutation:</b> {{ book.rating }}/100</p>
                     </li>
                     <li class="d-flex justify-content-between">
                        <p class="information-content"><em>added by {{ book.created_by }}</em></p>
                     </li>
                     <br>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <hr>
   <div class="container col-12">
      <div class="row ">
        <p class="descript-review-title">Description</p>
      </div>
      <div class="property-description mb-3">
        <p class="descript-review ">{{ book.book_description }}</p>
      </div>
   </div>
   <br>
   <hr>
   <div class="container col-12">
      <div class="row ">
        <p class="descript-review-title">Review</p>
      </div>
      <div class="property-description mb-3">
         <p class="descript-review">{{ book.book_review }}</p>
      </div>
   </div>
   <br>
   <hr>
  
   {% include 'sections/comment.html' %} 
    {% include 'sections/comments.html' %} 
</section>
<a id="button"><i id="arrow-up" class="fas fa-arrow-circle-up"></i></a>
{% endblock %}

